<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3ra entrega</title>
</head>

<body>

    <header>
        <a href="/">
            <div>
                <img src="https://raw.githubusercontent.com/Franck-01/Project-SW/master/public/images/SWTFA.png" />
            </div>
        </a>
        <h2>Escoje tus naves, inspecciona el arsenal y crea la flota mas poderosa que la galaxia haya visto</h2>
        <a href="/profile">Profile</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </header>

    <div>

    </div>
</body>

</html>