<h1>Login</h1>

<a href="/">Home</a>

<form action="/loginForm" method="post">
    Name:</br>
    <input type="text" name="name" /></br>
    Age(optional):</br>
    <input type="number" name="age" /></br>
    Image/Photo:</br>
    <input type="file" name="image" /></br>
    Mail:</br>
    <input type="email" name="mail" /></br>
    Phone:</br>
    <input type="tel" name="phone" /></br>
    Username:</br>
    <input type="text" name="username" /></br>
    Password:</br>
    <input type="password" name="password" /></br>
    <input type="submit" value="Login as User" /></br>
    <input type="submit" value="Login as Admin" /></br>
</form>
<a href="/signup">Do you already have a session?</a>