<h1>Sing Up</h1>

<a href="/">Home</a>

<form action="/signupForm" method="post">
    Username:</br>
    <input type="text" name="username" /></br>
    Password:</br>
    <input type="password" name="password" /></br>
    <input type="submit" value="Sign Up as User" /></br>
    <input type="submit" value="Sign Up as Admin" /></br>
</form>
<a href="/login">You are not registered yet?</a>